{% extends 'geekshop/base.html' %}
{% load static %}

{% block content %}
		<div class="hero">
            {% include 'geekshop/includes/inc_main_menu.html' %}
			<h1>наши контакты</h1>
		</div>

		<div class="location">
			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>Омская крепость</h4>
				<div class="contacts">
					<h5>Телефон</h5>
					<p>+7-888-888-8888</p>
				</div>
				<div class="contacts">
					<h5>Email</h5>
					<p>egortaran@mail.ru</p>
				</div>
				<div class="contacts">
					<h5>Адрес</h5>
					<p>Партизанская ул., 5, Омск, Омская обл., 644002</p>
				</div>
			</div>
			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>Весы бытия</h4>
				<div class="contacts">
					<h5>Телефон</h5>
					<p>+7-888-888-8888</p>
				</div>
				<div class="contacts">
					<h5>Email</h5>
					<p>egortaran@mail.ru</p>
				</div>
				<div class="contacts">
					<h5>Адрес</h5>
					<p>ул. Ленина, 3, Омск, Омская обл., 644099</p>
				</div>
			</div>
			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>Центр Эрмитаж-Сибирь</h4>
				<div class="contacts">
					<h5>Телефон</h5>
					<p>+7-888-888-8888</p>
				</div>
				<div class="contacts">
					<h5>Email</h5>
					<p>egortaran@mail.ru</p>
				</div>
				<div class="contacts">
					<h5>Адрес</h5>
					<p>Музейная ул., д. 4, Омск, Омская обл., 644099</p>
				</div>
			</div>
		</div>
{% endblock %}